header {
  .banner {
    background: linear-gradient(0deg, #472a89e6 10%, #472a89a1 90%),
      url("../../../assets/images/contact.webp");
    width: 100%;
    height: 50vh;
  }
  h1 {
    font-weight: bold;
    color: #ffffff;
    font-size: 40px;
  }
  li {
    padding: 10px 20px;
    padding-left: 15px;
    position: relative;
  }
  a {
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  .first::after {
    content: "";
    width: 10px;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    left: -5px;
    top: calc(50% - 1px);
  }
}
.defultColor{
background-color: rgba(253,253,253,255)

;

}
.mapEarth {
  .worldMap {
    position: relative;
    width: 100%; 
    height: auto;
    padding-bottom: 100%;
  }

  .earth {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    margin: -40%;
    background: #fff url("../../../assets/images/map.webp") 0 50% repeat-x;
    background-size: auto 90%;
    box-shadow: rgba(0, 0, 0, 0.05) 0 120px 2em;
    border-radius: 100%;
    overflow: hidden;
    -webkit-animation: map linear 90s infinite;
    animation: map linear 90s infinite;
  }

  .orbic {
    height: 100%;

    #orbic_user1 {
      transform: translate(1%, 40%) scale(0.666667);
    }
    #orbic_user2 {
      transform: translate(18%, 64%) scale(0.666667);
    }
    #orbic_user3 {
      transform: translate(39.5%, 31%) scale(0.666667);
    }
    #orbic_user4 {
      transform: translate(69%, 22%) scale(0.666667);
    }
    #orbic_user5 {
      transform: translate(75%, 53%) scale(0.666667);
    }
  }

  svg {
    width: 100%;
    height: 100%;
    vertical-align: top;
  }

  .worldMap #orbic_path {
    fill: none;
    stroke: rgba(0, 0, 0, 0.1);
    stroke-linecap: round;
    stroke-width: 4px;
    stroke-dasharray: 1 9;
    -webkit-animation: orbic linear 2s infinite;
    animation: orbic linear 2s infinite;
  }

  .title {
    color: #04193d;
    margin-bottom: 20px;
    &::before {
      content: "";
      width: 16px;
      height: 16px;
      border-radius: 100px;
      background-color: #472a893d;
      position: absolute;
      left: 5%;
      bottom: 50%;
      transform: translateY(50%);
    }

    &::after {
      content: "";
      width: 95%;
      height: 2px;
      background-color: #472a893d;
      position: absolute;
      right: 0;
      bottom: 50%;
      transform: translateY(50%);
    }

    span {
      background-color: #fdfdfd;
      padding: 20px 30px;
      position: relative;
      z-index: 2;
      border-radius: 100px;
      border: 2px solid #472a893d;
      font-weight: bold;
    }
  }

  .companyInfo {
    margin-top: 30px;

    ul {
      li {
        margin-bottom: 15px;
      }
      span {
        min-width: 40px;
        height: 40px;
        border: 1px solid #04193d;
        border-radius: 50%;
        transition: 0.3s ease-in-out;
        color: #04193d;
      }

      p {
        font-weight: bold;
        color: #292929;
      }

      a {
        color: #04193d;
        display: block;
        font-weight: normal;
        margin: 5px 0;
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .mapEarth .worldMap {
    height: auto;
    padding-bottom: 75%; 
  }

  .mapEarth .earth {
    width: 90%;
    height: 90%;
    margin: -45%;
  }

  .mapEarth .title span {
    padding: 15px 20px;
    font-size: 1rem;
  }

  .mapEarth .companyInfo ul li span {
    min-width: 30px;
    height: 30px;
    font-size: 0.9rem;
  }

  .mapEarth .companyInfo ul li p {
    font-size: 0.9rem;
  }

  .mapEarth .companyInfo ul li a {
    font-size: 0.8rem;
  }
}

@media (max-width: 576px) {
  .mapEarth .title span {
    padding: 10px 15px;
    font-size: 0.8rem;
  }

  .mapEarth .companyInfo ul li span {
    min-width: 25px;
    height: 25px;
    font-size: 0.8rem;
  }

  .mapEarth .companyInfo ul li p {
    font-size: 0.8rem;
  }

  .mapEarth .companyInfo ul li a {
    font-size: 0.7rem;
  }
}


.contactForm {
  h2 {
    font-size: 2rem;
  }
  form {
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 50px 20px 20px;
    transition: all 0.3s ease-in-out;
    label {
      font-size: small;
      font-weight: bold;
      text-transform: uppercase;
    }
    .form-control {
      box-shadow: none !important;
      min-height: 48px;
      height: 48px;
      padding: 10px 20px;
      background-color: #f0f6fe;
      border: 0px;
      border-radius: 10px;
      text-align: right;
      margin-bottom: 30px;
      color: #212529;
    }
    .defaultBtn {
      position: relative;
      display: inline-block;
      text-align: center;
      overflow: hidden;
      z-index: 1;
      isolation: isolate;
      background-color: #ffffff;
      color: #04193dba;
      transition: all 0.3s ease-in-out;
      border-radius: 8px;
      padding: 8px 16px;
      border: 1px solid #04193dba;
      span {
        position: absolute;
        top: 50%;
        right: 0%;
        display: inline-block;
        width: 0;
        height: 0;
        background-color: #472a89;
        transition: all 0.5s ease-in-out;
        transform: translate(50%, -50%);
        border-radius: 8px;
        z-index: -1;
        &:hover span {
          width: 300%;
          height: 600%;
        }
      }
    }
  }

  .googleMap {
    height: 100%;
    width: 100%;
    border-radius: 8px;
  }
}
