<section class="my-5">
    <div class="container country text-center">
      <h6>دول الاستقدام</h6>
      <h2>اختيار الدولة التي تتم عملية الاستقدام منها</h2>
  
      <div class="row g-4 mt-5 align-items-center justify-content-center">
        <div class="col-md-3">
          <div
            class="city  bg-white p-3 rounded-4 d-flex justify-content-center align-items-center flex-column"
          >
            <span class="one"></span>
            <div
              class="city-img my-5 d-flex justify-content-center align-items-center"
            ></div>
            <h3 class="mb-3">سيرلانكا</h3>
            <ul class="text-end">
              <li class="list-unstyled">
                <p>
                  تكلفة الاستقدام : 13900 ريال
                  <i class="fas fa-money-bill-wave"></i>
                </p>
              </li>
              <li class="list-unstyled my-3">
                <p class="mb-0">
                  المدة المتوقعة : 30 يوم
                  <i class="fas fa-clock"></i>
                </p>
              </li>
            </ul>
            <p class="px-3">
              سرعة وصول مع عمالة مدربة وكفاءات عالية مختارة بعناية
            </p>
            <button class="btn mb-3" role="button">اطلب الآن</button>
          </div>
        </div>
        <div class="col-md-3">
          <div
            class="city p-3 rounded-4 d-flex justify-content-center align-items-center flex-column"
          >
            <span class="one"></span>
            <div
              class="city-img my-5 d-flex justify-content-center align-items-center"
            ></div>
            <h3 class="mb-3">سيرلانكا</h3>
            <ul class="text-end">
              <li class="list-unstyled">
                <p>
                  تكلفة الاستقدام : 13900 ريال
                  <i class="fas fa-money-bill-wave"></i>
                </p>
              </li>
              <li class="list-unstyled my-3">
                <p class="mb-0">
                  المدة المتوقعة : 30 يوم
                  <i class="fas fa-clock"></i>
                </p>
              </li>
            </ul>
            <p class="px-3">
              سرعة وصول مع عمالة مدربة وكفاءات عالية مختارة بعناية
            </p>
            <button class="btn mb-3" role="button">اطلب الآن</button>
          </div>
        </div>
        <div class="col-md-3">
          <div
            class="city p-3 rounded-4 d-flex justify-content-center align-items-center flex-column"
          >
            <span class="one"></span>
            <div
              class="city-img my-5 d-flex justify-content-center align-items-center"
            ></div>
            <h3 class="mb-3">سيرلانكا</h3>
            <ul class="text-end">
              <li class="list-unstyled">
                <p>
                  تكلفة الاستقدام : 13900 ريال
                  <i class="fas fa-money-bill-wave"></i>
                </p>
              </li>
              <li class="list-unstyled my-3">
                <p class="mb-0">
                  المدة المتوقعة : 30 يوم
                  <i class="fas fa-clock"></i>
                </p>
              </li>
            </ul>
            <p class="px-3">
              سرعة وصول مع عمالة مدربة وكفاءات عالية مختارة بعناية
            </p>
            <button class="btn mb-3" role="button">اطلب الآن</button>
          </div>
        </div>
        <div class="col-md-3">
          <div
            class="city p-3 rounded-4 d-flex justify-content-center align-items-center flex-column"
          >
            <span class="one"></span>
            <div
              class="city-img my-5 d-flex justify-content-center align-items-center"
            ></div>
            <h3 class="mb-3">سيرلانكا</h3>
            <ul class="text-end">
              <li class="list-unstyled">
                <p>
                  تكلفة الاستقدام : 13900 ريال
                  <i class="fas fa-money-bill-wave"></i>
                </p>
              </li>
              <li class="list-unstyled my-3">
                <p class="mb-0">
                  المدة المتوقعة : 30 يوم
                  <i class="fas fa-clock"></i>
                </p>
              </li>
            </ul>
            <p class="px-3">
              سرعة وصول مع عمالة مدربة وكفاءات عالية مختارة بعناية
            </p>
            <button class="btn mb-3" role="button">اطلب الآن</button>
          </div>
        </div>
        <div class="col-md-3">
          <div
            class="city p-3 rounded-4 d-flex justify-content-center align-items-center flex-column"
          >
            <span class="one"></span>
            <div
              class="city-img my-5 d-flex justify-content-center align-items-center"
            ></div>
            <h3 class="mb-3">سيرلانكا</h3>
            <ul class="text-end">
              <li class="list-unstyled">
                <p>
                  تكلفة الاستقدام : 13900 ريال
                  <i class="fas fa-money-bill-wave"></i>
                </p>
              </li>
              <li class="list-unstyled my-3">
                <p class="mb-0">
                  المدة المتوقعة : 30 يوم
                  <i class="fas fa-clock"></i>
                </p>
              </li>
            </ul>
            <p class="px-3">
              سرعة وصول مع عمالة مدربة وكفاءات عالية مختارة بعناية
            </p>
            <button class="btn mb-3" role="button">اطلب الآن</button>
          </div>
        </div>
        <div class="col-md-3">
          <div
            class="city p-3 rounded-4 d-flex justify-content-center align-items-center flex-column"
          >
            <span class="one"></span>
            <div
              class="city-img my-5 d-flex justify-content-center align-items-center"
            ></div>
            <h3 class="mb-3">سيرلانكا</h3>
            <ul class="text-end">
              <li class="list-unstyled">
                <p>
                  تكلفة الاستقدام : 13900 ريال
                  <i class="fas fa-money-bill-wave"></i>
                </p>
              </li>
              <li class="list-unstyled my-3">
                <p class="mb-0">
                  المدة المتوقعة : 30 يوم
                  <i class="fas fa-clock"></i>
                </p>
              </li>
            </ul>
            <p class="px-3">
              سرعة وصول مع عمالة مدربة وكفاءات عالية مختارة بعناية
            </p>
            <button class="btn mb-3" role="button">اطلب الآن</button>
          </div>
        </div>
      </div>
    </div>
  </section>