
  <section class="default">
    <div class="container   footer">
    <div class="row pt-5 flex-row-reverse g-3">
      <div class="col-md-3">
        <div class="one p-1 text-end">
          <div class="logo-img p-0 ms-5">
            <img class="w-100" src="../../../assets/images/logo2.png" alt="" />
          </div>
          <p class="mt-2">
            أفضل مكتب استقدام العمالة المنزلية بمعايير دولية ومهنية عالية، نسعى
            لتقديم تجربة استقدام مثالية لعملائنا ،نوفر أيدى عاملة مميزة ومدربة
            بحرفية
          </p>
          <div
            class="social ms-2 d-flex flex-row-reverse align-items-center justify-content-start"
          >
            <a class="d-flex justify-content-center align-items-center">
              <i class="fa-brands fa-twitter"></i>
            </a>
            <a class="d-flex me-2 justify-content-center align-items-center">
              <i class="fa-brands fa-facebook"></i>
            </a>
            <a class="d-flex me-2 justify-content-center align-items-center">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a class="d-flex mx-2 justify-content-center align-items-center">
              <i class="fa-brands fa-snapchat"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="two my-3">
          <h4 class="text-end pe-3">روابط سريعة</h4>

          <div class="row mt-3 g-3 flex-row-reverse">
            <div class="col-md-6 text-end">
              <a class="pe-3"> اختيار العمالة </a>
            </div>

            <div class="col-md-6 text-end">
              <a class="pe-3"> تعاقد الاستقدام </a>
            </div>

            <div class="col-md-6 text-end">
              <a class="pe-3"> وصول العمالة </a>
            </div>
            <div class="col-md-6 text-end">
              <a class="pe-3"> سياسات الاستقدام </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="two my-3">
          <h4 class="text-end pe-3">الدعم</h4>

          <div class="row mt-3 g-3 flex-row-reverse">
            <div class="col-md-6 text-end">
              <a class="pe-3"> مركز المساعدة </a>
            </div>

            <div class="col-md-6 text-end">
              <a class="pe-3"> الاسئلة الشائعة </a>
            </div>

            <div class="col-md-6 text-end">
              <a class="pe-3"> المقالات </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="contact-data my-3">
          <h4 class="text-end pe-3">تواصل معنا</h4>

          <div class="links mt-3 text-end">
            <a href="">الرياض حي العقيق طريق الإمام سعود بن فيصل
            </a>
            <a href="" class="mt-3"> السبت - الخميس 1:00 - 10:00 </a>
            <a href="" class="mt-3"> 0112365553 </a>
            <a href="" class="mt-3"> Info@halool.sa </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-3" />
  <h5 class="text-center pb-3 copy flex-row-reverse">
    كل الحقوق محفوظة
    <span class="mx-2">مكتب التفرد للاستقدام </span>
    2024 ©
  </h5>
  </section>