.default{
    background-color: rgba(204, 226, 255, 0.1882352941);

}
.footer {
    a{
        text-decoration: none;
    }
    .one {
      p {
        color: #020202;
      }
      .social {
        a {
          height: 48px;
          width: 48px;
          border-radius: 50%;
          color: #020202;
          border: 1px solid #020202;
          transition: transform 1s;
          &:hover {
            background-color: rgba(65, 23, 161, 0.44);
            color: #fff;
            border: 1px solid rgba(65, 23, 161, 0.44);
            transform: translateY(-5px);
          }
        }
      }
    }
    .two {
      h4 {
        color: #06253b;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          right: 0;
          bottom: 0;
          width: 2px;
          height: 70%;
          background-color: rgba(65, 23, 161, 0.44);
        }
        &::after {
          content: "";
          position: absolute;
          right: 4px;
          bottom: 0;
          width: 2px;
          height: 90%;
          background-color: rgba(65, 23, 161, 0.44);
        }
      }
      a{
        text-decoration: none;
        color: #020202;

        &::after{
          content: "-";
          color: rgba(65, 23, 161, 0.44);
        }
      }
    }
    .contact-data{
      h4 {
        color: #06253b;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          right: 0;
          bottom: 0;
          width: 2px;
          height: 70%;
          background-color: rgba(65, 23, 161, 0.44);
        }
        &::after {
          content: "";
          position: absolute;
          right: 4px;
          bottom: 0;
          width: 2px;
          height: 90%;
          background-color: rgba(65, 23, 161, 0.44);
        }
      }
       a{
        text-decoration: none;
        color: #020202;
        display: block;
       }
    }
  }
  .copy{
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
    span{
      display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: #472a89;
    }
  }