<header>
  <owl-carousel-o [options]="header">
    <ng-template carouselSlide>

  <div class="header header1">
    <div
      class="info w-100 d-flex justify-content-center align-items-center text-white flex-column"
    >
      <h4>...مع التفرد للاستقدام</h4>
      <h1>تجربة الاستقدام سهله ومميزة</h1>
      <button role="button" class="btn mt-3 text-white">اختيار العمالة</button>
    </div>
  </div>
</ng-template>
<ng-template carouselSlide>

  <div class="header header2">
    <div
      class="info w-100 d-flex justify-content-center align-items-center text-white flex-column"
    >
      <h4>...مع التفرد للاستقدام</h4>
      <h1>تجربة الاستقدام سهله ومميزة</h1>
      <button role="button" class="btn mt-3 text-white">اختيار العمالة</button>
    </div>
  </div>
</ng-template>
<ng-template carouselSlide>

  <div class="header header3">
    <div
      class="info w-100 d-flex justify-content-center align-items-center text-white flex-column"
    >
      <h4>...مع التفرد للاستقدام</h4>
      <h1>تجربة الاستقدام سهله ومميزة</h1>
      <button role="button" class="btn mt-3 text-white">اختيار العمالة</button>
    </div>
  </div>
</ng-template>
</owl-carousel-o>
</header>

<section class="who my-5 p-5">
  <div class="container">
    <div class="row flex-row-reverse">
      <div class="col-md-5 text-end">
        <h6>من نحن</h6>
        <h2>التفرد للاستقدام</h2>
        <p class="mt-4">
          15 عاماً من الخبرة في مجال استقدام وتوظيف الأيدي العاملة، التفرد
          للاستقدام مختصون في مجال استقدام الأيدي العاملة وتحديداً العمالة
          المنزلية, وهو ما جعلنا نتمتع بالمعرفة والخبرة والدراية التامة بأصول
          وأسس العمل المهني في مجال توظيف العمالة المنزلية. وكذلك الخبرة في تخطي
          كافة العقبات وحل جميع المشكلات التي قد نتعرض لها في ظل تقلبات السوق
          وتغير الأوضاع، ونعتمد على دراسة احتياجات عملائنا لكي نتمكن من تقديم
          افضل الخدمات لهم، لنتمكن من الوصول الى رضى العملاء.
        </p>
        <ul class="mt-4">
          <li class="list-unstyled d-flex align-items-center justify-content-end">
            خدمة عملاء على مدار الساعة
            <i class="fa-solid fa-check mx-2 d-flex justify-content-center align-items-center"> </i>
          </li>
          <li class="my-3 list-unstyled d-flex align-items-center justify-content-end">
            مرخص من وزارة الموارد البشرية والتنمية الاجتماعية
            <i class="fa-solid fa-check mx-2 d-flex justify-content-center align-items-center"> </i>
          </li>
          <li class="list-unstyled d-flex align-items-center justify-content-end">
            معتمدين من منصة مساند للعمالة المنزلية
            <i class="fa-solid fa-check mx-2 d-flex justify-content-center align-items-center"> </i>
          </li>
        </ul>
      </div>
      <div class="col-md-7">
        <div class="row flex-row-reverse d-flex justify-content-start">
          <div class="col-md-5">
            <div class="item text-end position-relative w-100 item1 p-3">
              <span>01</span>
              <div class="icon d-flex justify-content-center align-items-center position-absolute">
                <i class="fa-solid fa-headset"></i>
              </div>
              <h4>رؤيتنا</h4>
              <p>
                أن نكون الخيار الأول للاستقدام في المملكة العربية السعودية، وذلك
                بالتفرد بتقديم أجود الخدمات وانتقاء أجود الكفاءات، والحرص على
                راحة العملاء وحفظ حقوقهم، ونحقق ذلك بعد اكتساب ثقة العملاء
                وتوصيتهم بنا لمن حولهم. <br />
                .
              </p>
            </div>
          </div>

          <div class="col-md-5 mt-4 me-5">
            <div class="item text-end position-relative w-100 item2 my-2 p-2 px-3">
              <span>02</span>
              <div class="icon d-flex justify-content-center align-items-center position-absolute">
                <i class="fa-solid fa-headset"></i>
              </div>
              <h4>رسالتنا</h4>
              <p>
                ((انسانية)) نفتخر بعملنا كونه يسهم بتوفير موارد ودخل جيّد لأسرة
                وفرد بحاجة لهذه الموارد لدعم أسرته وبناء مستقبله، وبالمقابل
                توفير سبل الراحة للأسرة السعودية والمقيمة في وطننا المعطاء من
                خلال تقديم خدمات العاملة المنزلية والعمالة الوافدة وذلك ضمن اطار
                قانوني ينظم العلاقة بين كافة الأطراف ويحفظ حقوق الجميع في وطننا
                المعطاء.((( احتياجاتكم اولوياتنا))) .
              </p>
            </div>
          </div>

          <div class="col-md-5">
            <div class="item text-end position-relative w-100 item3 p-3">
              <span>03</span>
              <div class="icon d-flex justify-content-center align-items-center position-absolute">
                <i class="fa-solid fa-headset"></i>
              </div>
              <h4>قيمنا</h4>
              <p>
                قيمنا تركز على رضى العميل، حيث نولي الأولوية للجودة والكمال في
                كل خدماتنا. نحن روح الفريق أداة أساسية لتحقيق الأهداف ،حيث يعمل
                فريقنا معًا لتحقيق النجاح. نحرص على السرعة والانجاز لتلبية
                احتياجات عملائنا في الوقت المحدد. نعتبر النزاهة والشفافية أساسية
                في كل تعاملاتنا، .
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="my-5">
  <div class="services  p-5 text-center">
    <h6>خدماتنا</h6>
    <h2 class="mt-3">... تعرف علي الخدمات التي نقدمها للمجتمع</h2>

    <div class="service">
      <div class="row g-4 w-100 mt-4 flex-row-reverse">
        <owl-carousel-o [options]="serviceOption">
          <ng-template carouselSlide>
            <div class="col-md-3 w-100">
              <div class="info  position-relative rounded-1 info1 p-1">
                <div class="layer position-absolute start-0 end-0 top-0 bottom-0 overflow-hidden">
                  <div
                    class="layer-info p-3 text-end position-absolute bottom-0"
                  >
                    <h4>اختيار العمالة</h4>
                    <p class="mt-3">
                      إتمام إجراءات استقدام العمالة المنزلية واختيار السير
                      الذاتية.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="col-md-3 w-100">
              <div class="info position-relative rounded-1 info2 p-1">
                <div class="layer position-absolute start-0 end-0 top-0 bottom-0 overflow-hidden">
                  <div
                    class="layer-info p-3 text-end position-absolute bottom-0"
                  >
                    <h4>تعاقد الاستقدام</h4>
                    <p class="mt-4">
                      . دفع رسوم الاستقدام وإصدار العقد عبر منصة مساند
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>

          <ng-template carouselSlide>
            <div class="col-md-3 w-100">
              <div class="info position-relative rounded-1 info3 p-1">
                <div class="layer position-absolute start-0 end-0 top-0 bottom-0 overflow-hidden">
                  <div
                    class="layer-info p-3 text-end position-absolute bottom-0"
                  >
                    <h4>سياسات الاستقدام</h4>
                    <p class="mt-3">
                      . التوعية بالقوانين والمبادئ التي تحكم العلاقة بين صاحب
                      العمل والعامل وحقوق وواجبات كلا منهم
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="col-md-3 w-100">
              <div class="info position-relative rounded-1 info4 p-1">
                <div class="layer position-absolute start-0 end-0 top-0 bottom-0 overflow-hidden">
                  <div
                    class="layer-info p-3 text-end position-absolute bottom-0"
                  >
                    <h4>وصول العمالة</h4>
                    <p class="mt-4">
                      . استقبال العمالة المنزلية من المطار المحلي الى المكتب
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>

<app-country></app-country>

<section class="steps mt-5">
  <div class="container text-center p-5">
    <!-- <h2>خطوات الاستقدام</h2>
    <h6 class="mt-3">... تعرف علي الخطوات التي نعمل بها</h6>

    <div class="all-steps">
      <div class="step">
        <div class="icon">
          <i class="fa-thin fa-wallet"></i>
        </div>
        <p>
          سداد رسوم اجراءات العمالة المنزلية الخاصة بك عبر الخدمات الحكومية في
          البنك او عن طريق القنوات التالية
        </p>
      </div>
    </div> -->
  </div>

  <div class="container text-center p-5 domand">
    <h6>متطلبات الإستقدام</h6>
    <h2>... هذه هي المتطلبات التي تحتاجها للاستقدام</h2>
    <div class="row mt-4 flex-row-reverse g-2">
      <div class="col-md-6">
        <div class="right text-center p-2">
          <h3 class="my-5">الوثائق المطلوبة لإستقدام العماله المنزلية</h3>
          <div
            class="content mt-5 d-flex align-items-center flex-row-reverse justify-content-start rounded-2 w-100 bg-white p-3"
          >
            <span
              class="d-flex text-white mx-3 justify-content-center mx-2 align-items-center"
              ><i class="fa-regular fa-passport"></i
            ></span>
            <p class="my-auto">تخليص اجراءات الاستقدام</p>
          </div>
          <div
            class="content mt-5 d-flex align-items-center flex-row-reverse justify-content-start rounded-2 w-100 bg-white p-3"
          >
            <span
              class="d-flex mx-3 text-white justify-content-center mx-2 align-items-center"
              ><i class="fa-solid fa-lines-pen"></i
            ></span>
            <p class="my-auto">اختيار السيرة الذاتية</p>
          </div>
          <div
            class="content mt-5 d-flex align-items-center flex-row-reverse justify-content-start rounded-2 w-100 bg-white p-3"
          >
            <span
              class="d-flex mx-3 text-white justify-content-center mx-2 align-items-center"
              ><i class="fa-regular fa-address-card"></i
            ></span>
            <p class="my-auto">
              صورة الهوية الوطنية او الإقامة للمقيمين والرقم المربوط في ابشر
            </p>
          </div>
          <div
            class="content mt-5 d-flex align-items-center flex-row-reverse justify-content-start rounded-2 w-100 bg-white p-3"
          >
            <span
              class="d-flex mx-3 text-white justify-content-center mx-2 align-items-center"
              ><i class="fa-regular fa-headset"></i
            ></span>
            <p class="my-auto">تعاقد الاستقدام عبر مساند وسداد الرسوم</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="right text-center p-2">
          <h3 class="my-5">اجراءات الاستقدام</h3>
          <div
            class="content mt-5 d-flex align-items-center flex-row-reverse justify-content-start rounded-2 w-100 bg-white p-3"
          >
            <span
              class="d-flex text-white mx-3 justify-content-center mx-2 align-items-center"
              ><i class="fa-regular fa-passport"></i
            ></span>
            <p class="my-auto">الدخول الى منصة مساند</p>
          </div>
          <div
            class="content mt-5 d-flex align-items-center flex-row-reverse justify-content-start rounded-2 w-100 bg-white p-3"
          >
            <span
              class="d-flex mx-3 text-white justify-content-center mx-2 align-items-center"
              ><i class="fa-solid fa-lines-pen"></i
            ></span>
            <p class="my-auto">التحقق من تأهيلك للحصول على التأشيرة</p>
          </div>
          <div
            class="content mt-5 d-flex align-items-center flex-row-reverse justify-content-start rounded-2 w-100 bg-white p-3"
          >
            <span
              class="d-flex mx-3 text-white justify-content-center mx-2 align-items-center"
              ><i class="fa-regular fa-address-card"></i
            ></span>
            <p class="my-auto">ادخال البيانات المطلوبة واثبات القدرة المالية</p>
          </div>
          <div
            class="content mt-5 d-flex align-items-center flex-row-reverse justify-content-start rounded-2 w-100 bg-white p-3"
          >
            <span
              class="d-flex mx-3 text-white justify-content-center mx-2 align-items-center"
              ><i class="fa-regular fa-headset"></i
            ></span>
            <p class="my-auto">الإقرار بالمعلومات الصحيحة وسداد الرسوم</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center p-5 contact">
    <div class="title">تواصل معنا</div>
    <h2 class="mt-2">
      فريق الدعم الفنى معك على مدار الساعة لخدمتك وللأجابة عن <br />أسئلتكم
      واستفساراتكم
    </h2>
    <div class="contant-details">
      <div class="row mt-4 flex-row-reverse g-4">
        <div class="col-md-6 p-2">
          <div class="map">
            <iframe
              class="googleMap wow fadeInUp"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14492.182636220256!2d46.7757372!3d24.75962360000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f02859b804e25%3A0x222700321c67658!2z2YXZg9iq2Kgg2KfZhNiq2YHYsdivINmE2YTYpdiz2KrZgtiv2KfZhQ!5e0!3m2!1sen!2ssa!4v1716292305362!5m2!1sen!2ssa"
              width="600"
              height="450"
              style="border: 0px; visibility: visible; animation-name: fadeInUp"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
        <div class="col-md-6 p-4">
          <div class="locations">
            <div
              class="adress  w-100 text-end bg-white p-3 rounded-4 position-relative"
            >
              <h3 class="d-inline-block text-end position-relative z-1" >العنوان</h3>
              <h4>الرياض حي العقيق طريق الإمام سعود بن فيصل</h4>
            </div>
            <div
              class="adress d-inline-block text-end position-relative z-1 mt-5 w-100 text-end bg-white p-3 rounded-4 position-relative"
            >
              <h3 class="d-inline-block text-end position-relative z-1">البريد الالكتروني</h3>
              <h4>Info@halool.sa</h4>
            </div>
            <div
              class="adress d-inline-block text-end position-relative z-1 mt-5 w-100 text-end bg-white p-3 rounded-4 position-relative"
            >
              <h3 class="d-inline-block text-end position-relative z-1">رقم الجوال</h3>
              <h4>0502502580 - 0112365553</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="logos p-3">
    <div class="container">
      <div class="text-center">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <div class="logo w-75">
              <img src="../../../assets/images/1.svg" class="w-100" alt="" />
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="logo mt-4 w-75">
              <img src="../../../assets/images/2.svg" class="w-100" alt="" />
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="logo w-75">
              <img src="../../../assets/images/3.svg" class="w-100" alt="" />
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="logo w-75">
              <img src="../../../assets/images/4.svg" class="w-100" alt="" />
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="logo w-75">
              <img src="../../../assets/images/1.svg" class="w-100" alt="" />
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="logo mt-4 w-75">
              <img src="../../../assets/images/2.svg" class="w-100" alt="" />
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>

  
</section>
